:root {
  
  --navbar-height: 55px;
  --overlay-tab-height: 25px;
  --overlay-right-tab-width:25px;

  --brand-dark: #11354C;
  --brand-dark-secondary: #0e2e40;
  
  --water-color: #CFE4F2;
  --slip-color: #1d590b;
  --structure-color: #b39372;
  --bottom-color: #a8ffff6f;
  --power-color: #ffea00;
  --boat-color: #eff5ff;

}

/* Customized bootstrap variant app styles */
.btn-brand-dark {
  background-color: var(--brand-dark) !important;
  border-color: var(--brand-dark) !important;
  color: white !important;
}

.btn-brand-dark:hover {
  background-color: var(--brand-dark-secondary) !important;
  border-color: var(--brand-dark-secondary) !important;
  color: white !important;
}

#MainContainer {
  background-color: none;
}

#MainNav {
  height: var(--navbar-height);
  background-color: var(--brand-dark);

}

/* Top level app styles */
.App {
  text-align: left;
  font: 1em sans-serif;
}
.App-content {
  padding: 0;
  background-color: #69d3f0;
  position: 'absolute';
}

/* Marina toolbar styles */
.Marina-toolbar {
  display: block;
  position: absolute;
  top: 55px;
  left: 5px;
}


/* Bottom of screen overlay styles */
.Overlay-container {
  position: absolute;
  top: 60vh;
  left: 0;
}
.Overlay-content {
  overflow: scroll;
  padding: 5px;
  border-radius: 5px;
  border: #000000;
  border-style: solid;
  background-color: #ffffff;
  width: 100vw;
  height: calc(40vh - var(--overlay-tab-height));
}
.Overlay-content-tab {
  position: relative;
  left: 10px;
  top: 1px;
  border-radius: 5px 5px 0px 0px;
  border: #000000;
  border-style: solid;
  background-color: #ffffff;
  width: 25px;
  height: var(--overlay-tab-height);
  padding: 2px;
  cursor: move;
  text-align: center;
}
/* Right side of screen overlay styles */
.Overlay-container-right {
  position: absolute;
  top: 0vh;
  left: 60vw;
}
.Overlay-content-right {
  overflow: scroll;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  border: #000000;
  border-style: solid;
  background-color: #ffffff;
  width: calc(40vw - var(--overlay-right-tab-width));
  height: 99vh;
}
.Overlay-content-right-tab {
  position: relative;
  display: inline-block;
  bottom: 90vh;
  border-radius: 5px 0px 0px 5px;
  border: #000000;
  border-style: solid;
  background-color: #ffffff;
  width: var(--overlay-right-tab-width);
  padding: 2px;
  cursor: move;
  text-align: center;
}

/* Marina worksheet styles */
.Marina-worksheet-area {
  overflow: scroll;
  height: 100vh;
  width: 100vw;
  background-color: #225765;
}
.Marina-worksheet {
  background-color: var(--water-color);
  z-index: 1;
  overflow-x: auto;
  overflow-y: auto;
  height: 4000px;
  width: 4000px;
  display: block;
}

/* Marina items styles */
.Marina-boundary {
  background-color: var(--water-color);
  fill: none;
  stroke: #000000;
  stroke-dasharray: 4;
  position: absolute;
  display: inline-block;
  margin: 5px;
  z-index: 2;
}
.Bottom {
  fill: #a8ffff6f;
  fill-opacity: 50%;
  z-index: 2;
}
.Structure {
  fill: #b39372;
  z-index: 3;
}
.Slip {
  fill: #1d590b;
  stroke: #1d590b;
  stroke-dasharray: 1;
  fill-opacity: 10%;
  z-index: 2;
}
.Power {
  width: 5px;
  height: 5px;
  fill: #ffea00;
  z-index: 4;
}
.Water {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  fill: #2200ff;
  z-index: 4;
}
.Boat {
  fill: #eff5ff;
  stroke: #000000;
  z-index: 5;
}

/* Marina item edit menu styles */
.MarinaItemCircle {
  stroke: rgba(0, 0, 0, 0.416);
    fill: none;
}


#Marina-metrics-floater {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  z-index: 10;
  background-color: #ffffff71;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
}